@using SitecoreCognitiveServices.Feature.IntelligentMedia.Statics
@model SitecoreCognitiveServices.Foundation.MSSDK.Vision.Models.ComputerVision.Word[]

@if (Model != null)
{
    <div>
        @foreach (var w in Model)
        {
            <div class="word-block">
                <div class="word-wrap" style="top: @{@w.Rectangle.Top}px; left: @{@(w.Rectangle.Left + w.Rectangle.Width + 10)}px">
                    <div class="bg-layer"></div>
                    <div class="word">
                        <label>@Translator.Text("Vision.Words.TextLabel"): </label>
                        <span>@w.Text</span>
                    </div>
                    @*<div>
                        <label>@Translator.Text("Vision.Words.BoundingBoxLabel"): </label>
                        <span>@w.BoundingBox</span>
                    </div>*@
                </div>
                @Html.Partial("ComputerVision/Rectangle", w.Rectangle)
            </div>
        }
    </div>
}